{% load static %}

{% comment %} SEO {% endcomment %}
<meta name="google-site-verification" content="emkLGSpvyqCH-zht7637kpKVWj5-7ih1vQk-WC9n6QM" />

<title>{{ seo_title }}</title>
<meta name="description" content="{{ seo_description }}">
<meta name="robots" content="index, follow">
<link rel="canonical" href="{{ canonical_url }}">
<link rel="alternate" hreflang="tl-PH" href="{{ canonical_url }}">
<link rel="icon" type="image/x-icon" sizes="48x48" href="{% static 'assets/favicon.ico' %}">
<meta property="og:locale" content="tl_PH">
<meta property="og:type" content="{{ seo_type|default:'website' }}">
<meta property="og:site_name" content="Didilang">
<meta property="og:title" content="{{ seo_title }}">
<meta property="og:description" content="{{ seo_description }}">
<meta property="og:url" content="{{ canonical_url }}">
<meta property="og:image" content="{{ seo_image_url }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ seo_title }}">
<meta name="twitter:description" content="{{ seo_description }}">
<meta name="twitter:image" content="{{ seo_image_url }}">
<script type="application/ld+json">{{ structured_data_json|safe }}</script>
